.widget-parent{
    border: 1px solid #000;
}

.fa-arrow-up{
  color:green;
}

.fa-arrow-down{
    color:red;
}

.cell-item{
    text-align: center;
    box-sizing: border-box;
    padding: 5px 2px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    padding-top: 15px;
    background-color: lightblue;
}

.data{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

#title{
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 22px;
    
}

.date-block{
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 40px;
}